* {
  box-sizing: border-box;
  background-color:rgb(227, 150, 252) ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: #f5f5f5
}

body {
  margin: 0;
  padding: 0 2%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.new-port {
  text-decoration: none;
  color: white;
  font-style: italic;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(227, 150, 252);
  height: 80px;
  position: relative;
}

.navbar__title {
  width: 100%;
  justify-content: center;
  background-color: rgb(227, 150, 252);
}

.navbar__links {
  display: flex;
  list-style: none;
}

.navbar__item {
  margin-right: 35px;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.navbar__link:hover {
  background-color: rgb(192, 119, 224);
  color: #fafafa;
  padding: 10px;
  border-radius: 8px;
}

.navbar__bar {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f5f5f5;
}


button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
  color: #f5f5f5;
}

button:hover {
  opacity: .8;
}

img {
  max-width: 100%;
}

h5 {
  font-size: 20px;
}

#falling-button {
  position: absolute;
  top: -50px; 
  animation: fall .5s ease forwards; 
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

#falling-welcome {
  position: absolute;
  top: -120px;
  left: calc(38%);
  animation: fall .5s ease forwards;
}

#port {
  font-size: 30px;
  width: 50%;
}

#falling-button {
  position: absolute;
  top: -50px;
  left: calc(50% - 130px);
  animation: fall .5s ease forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  opacity: 0;
  transform: translateY(-100px);
  animation: materialize 1.5s ease forwards;
}

#welcome-page {
  display: none;
}

#picture-container {
  float: right;
  width: 40%;
  margin: 0 0 1rem 1rem;
}

#picture-container img {
  border-radius: 50%;
  max-width: 100%;
}

@keyframes fall {
  0% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes materialize {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-grid {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* gap: 20px; */
}

@media screen and (max-width: 768px) {
  .card-grid {
    justify-content: flex-start;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.replit {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  margin-top: 20px; 
}

#replit {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  margin-top: 20px; 
  font-size: large;
  font-weight: 600;
  border: none;
  color: rgb(227, 150, 252);
  background-color: #f5f5f5;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card {
  width: 32%;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 1px 6px #f5f5f5;
}

.card img {
  width: 90%;
  height: auto;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.card p {
  margin-top: 0.5rem;
  font-size: 16px;
}

.card-button {
  border: none;
  color: rgb(227, 150, 252);
  background-color: #f5f5f5;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#welcome-page {
  display: none;
}

.my-table {
  margin-top: 20px;
  border-spacing: 0;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: inline-block;
}

.th-large {
  font-size: 2rem; 
}

th {
  width: 35%;
  background-color: rgb(192, 119, 224);
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.my-table {
  font-size: 1.5rem;
}

#education-text {
  font-size: .9rem;
  font-weight: 500;
}

.my-table td:first-child {
  width: 35%;
  background-color: rgb(192, 119, 224);
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.my-table td:last-child {
  width: 75%;
  padding: 10px;
}

.my-table tr:first-child td {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.my-table tr:last-child td {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.download-button {
  justify-content: center;
  display: flex;
  background-color: #f5f5f5;
  color: #e396fc;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.download-button:hover {
  background-color: rgb(192, 119, 224);
  color: #fafafa
}


#hobbies {
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: inline-block;
  margin-right: 50px;
  font-size: 16px;
  margin-top: auto;
}

#hobbies li {
  padding: 3px;
  margin-left: 14px;
  font-weight: bold;
}

.connect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  color:rgb(227, 150, 252);
  font-size: 3rem;
  margin-bottom: 10px;
  margin-top: 20px;
}

.connect-fa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.next-project {
  border-radius: 8px;
  box-shadow: 2px 3px 7px 7px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: inline-block;
  margin-right: 50px;
  font-size: 16px;
  margin-top: auto;
  width: 75%;
  
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  margin: 0 10px;
  margin-bottom: 1;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  body {
    padding-bottom: 20px;
  }

  img.project-image {
    width: 100%;
    margin: 0 auto;
    max-width: 400px; 
  }

  .card-grid {
    justify-content: flex-start;
  }

  .next-project {
    flex-direction: column;
    align-items: center;
  }

  .next-project h2,
  .next-project p {
    margin: 10px;
  }

  .next-project .project-image {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
  }
}

@media screen and (max-width: 480px) {
  img.project-image {
    width: 100%;
    margin: 0 auto;
    max-width: 300px; 
  }

  body {
    padding: 0 1%;
  }
  
  .navbar__item {
    margin-right: 20px;
  }
  
  .card {
    padding: 0.5rem;
  }
  
  .card h2 {
    font-size: 1.2rem;
  }
  
  .card p {
    font-size: 16px;
  }
  
  .connect {
    font-size: 2rem;
  }
  
  .next-project {
    padding: 0.5rem;
  }
  
  .footer {
    position: relative;
  }

  .footer a {
    margin: 0 5px;
  }
}

